@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.btn {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup {
  background-color: rgb(29, 155, 240);
  color: white;
}

.signup:hover {
  background-color: rgb(26, 140, 216);
}

.login {
  color: rgb(29, 155, 240);
  border: 1px solid rgb(207, 217, 222);
}

.login:hover {
  background-color: rgba(29, 155, 240, 0.1);
}

.container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 100dvw;
  height: 100dvh;
}
