@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.btn {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup {
  background-color: rgb(29, 155, 240);
  color: white;
}

.signup:hover {
  background-color: rgb(26, 140, 216);
}

.login {
  color: rgb(29, 155, 240);
  border: 1px solid rgb(207, 217, 222);
}

.login:hover {
  background-color: rgba(29, 155, 240, 0.1);
}

.containers {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 100dvw;
  min-height: 45vh;
}

.logoimg {
  max-height: 380px;
  height: 100%;
  filter: invert(1);
}

.clone-a-tag {
  direction: ltr;
  unicode-bidi: isolate;
  background-color: rgba(0, 0, 0, 0);
  list-style: none;
  text-align: inherit;

  display: inline;
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  white-space: pre-wrap;
  margin-bottom: 4px;
  margin-top: 4px;
  min-width: 0px;
  word-wrap: break-word;
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  padding-right: 16px;
  color: rgb(83, 100, 113);
}

.clone-span-tag {
  pointer-events: auto;
  list-style: none;
  text-align: inherit;
  cursor: pointer;
  border: 0 solid black;
  box-sizing: border-box;
  display: inline;
  color: inherit;
  font: inherit;
  white-space: inherit;
  min-width: 0px;
  word-wrap: break-word;
  font-family: inherit;
}

.twitterSpan {
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
  color: rgb(15, 20, 25);
  text-overflow: unset;
}

.google-span {
  margin-left: 4px;
  direction: ltr;
  color: #3c4043;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.25px;
  text-align: center;
  white-space: nowrap;
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  flex-grow: 0;
}

.inherit-span {
  color: inherit;
  font: inherit;
  white-space: inherit;
  min-width: 0px;
  word-wrap: break-word;
  font-family: inherit;
}

.input-transition {
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    font-size 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
